body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
}

a {
        text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
        margin: 0;
}

img {
        display: flex;
        max-width: 100%;
        height: auto;
        display: block;
}

.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;

}

.section {
        padding: 120px 0;
}
/* ------------------------HEADER--------------------- */

.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
        display: flex;
        align-items: center;
}

.navigation {
        display: flex;
        align-items: center;
}

.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-header {
        color: #2e2f42;
}

.nav-list {
        display: flex;
        gap: 40px;
}

.accent-footer {
        color: #f4f4fd;
}

.header-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
        font-style: normal;
        margin-left: auto;
}

.address-list {
        display: flex;
        gap: 40px;
}

.header-contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover, .header-contacts:focus, .header-nav:hover, .header-nav:focus {
        color: #404bbf;
}

.current {
        position: relative;
        color: #404bbf;
}

.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
}
/* ------------------------------------------------ */

/* -----------------------Order Service----------------------- */

.service-section {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        padding: 188px 0;
        margin: 0 auto;
}

.main-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
        max-width: 496px;
        margin: 0 auto;
}

.btn-order {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover, .btn-order:focus {
        background-color: #404bbf;
}

/* ------------------------------------------------ */

/* -----------------FEATURES------------------------------- */
.features-container {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features-container-list {
        display: flex;
        flex-wrap: wrap;
        gap:24px;
}

.features-list {
        width: calc((100% - 72px) / 4);
}

.container-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ------------------------------------------------ */

/* ---------------------OUR TEAM--------------------------- */

.team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
}

.container-team-np {
        padding: 32px 0;
}

.team-section {
        background-color: #F4F4FD;
}

.team-item {
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        width: calc((100% - 72px) / 4);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}

.team-prof {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
}

.social-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
        width: calc(( 100% - 24 * 3 ) / 4 );
}

.social-list-team {
        width: 40px;
        height: 40px;
        cursor: pointer;
}

.social-link-team {
        top: 12px;
        left: 12px;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus {
        background-color: #404BBF;
}

.social-icons-team {
        fill: #f4f4fd;
}

/* ------------------------------------------------ */

/* -----------------------PORTFOLIO------------------------- */

.portfolio-section {
        background-color: #fff;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
}

.porfolio-list-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hover-text-wrapper {
        position: relative;
        overflow: hidden;
}

.portfolio-hover-text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-list-item:hover .portfolio-hover-text {
        transform: translateY(0);
}

.container-portfolio-np {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.prtfolio-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}

.portfolio-dsc {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ------------------------------------------------ */
/* ----------------------FOOTER-------------------------- */
.footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
}

.footer-container {
        display: flex;
        align-items: baseline;
}

.footer-logo-container {
        margin-right: 120px;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
        margin-right: 0;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.footer-social-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.social-list-footer {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 8px;
        width: calc(( 100% - 16 * 3 ) / 4);
}

.social-item-footer {
        width: 40px;
        height: 40px;
        cursor: pointer;
}

.social-link-footer {
        top: 8px;
        left: 8px;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
        background-color: #31D0AA;
}

.social-icons-footer {
        fill: #f4f4fd;
}

.footer-form-container {
        margin-left: 80px;
}

.footer-subs-form {
        display: flex;
        gap: 24px;
}

.subs-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

/* .footer-input-wrap {
        display: flex;
        align-items: center;
        gap: 24px;
} */

.footer-email {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        color: #fff;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        outline: none;
        color: #fff;
}

.footer-email::placeholder {
        color: #fff; 
}

.btn-subs-footer {
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        cursor: pointer;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        align-items: center;
        justify-content: center;
}

.btn-subs-footer:hover, .btn-subs-footer:focus {
        background-color: #404bbf;
}

.icon-subs {
        margin-left: 16px;
}

/* ------------------------------------------------ */
/* ---------------------Modal overlay----------------- */

.backdrop {
        background-color:rgba(46, 47, 66, 0.4);
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
        width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close {
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover, .btn-modal-close:focus {
        background-color: #404bbf;
        border: none;
}

.btn-modal-close:hover > .icon-close, .btn-modal-close:focus > .icon-close {
        fill: #fff;
}

.modal-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.container-field {
        margin-bottom: 8px;
}

.form-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        margin-left: auto;
        display: block;
}

.input-field {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:active, .input-field:focus {
        border-color: #4d5ae5;
}

.input-field:active + .icon-form,
.input-field:focus +.icon-form {
        fill: #4d5ae5;
}

.modal-input-wrap {
        position: relative;
}

.icon-form {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
        margin-bottom: 16px;
}

.textarea-field {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        background-color: transparent;
        padding: 8px 16px;
        resize: none;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.textarea-field:active,
.textarea-field:focus {
        border-color: #4d5ae5;
}

.textarea-field::placeholder {
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.terms-container {
        margin-bottom: 24px;
}

.terms-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.terms-label .imitated-check {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: inline-flex;
        margin-right: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-box:checked + .terms-label .imitated-check {
        background-color: #404bbf;
        border: none;
        fill: #f4f4fd;
}

.privacy-policy-link {
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.btn-submit-form {
        display: block;
        margin: 0 auto;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit-form:hover, .btn-submit-form:focus {
        background-color: #404bbf;
}